*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Sansation, Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 80px; 
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;               

  background: rgb(0, 53, 80);
  padding: 10px 20px;
  font-weight: bold;
}

.itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itens a {
  color: white;
  font-size: larger;
  margin: 5px 15px;
  text-decoration: none;
  transition: 0.2s ease;
  display: inline-block;
  padding: 4px 6px;
}

.itens a:hover {
  color: rgb(229, 255, 0);
  transform: scale(1.20);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.9);
  border-radius: 3px;
}
/*textos*/
h1 {
    text-align: justify;
    text-decoration: none;
    color: rgb(0, 53, 80);
    margin: 0;
}
p {
    text-align: justify;
    text-decoration: none;
    color: rgb(0, 53, 80);
    margin: 0;
}
.eventos {
    text-align: justify;
    text-decoration: none;
    color: rgb(0, 53, 80);
    margin: 0;
}
.bem-vindo {
  height: 70vh;
  width: 100%;
  background-image: url(./Imagens/ANUNCIE.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  margin-top: -5%;
}
.inicial {
  margin: 0;
  padding: 5%;
}
.inicial p {
  width: 50%;
  padding-top: 2%;
  font-size: large;
}
.eventos {
  margin: 0;
  padding: 5%;
  color: rgb(255, 255, 255);
  background-image: url(./Imagens/Gemini_Generated_Image_qsju3qsju3qsju3q.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.final {
  margin: 0;
  padding: 5%;
}
.final p {
  width: 50%;
  padding-top: 2%;
  font-size: large;
  padding-bottom: 1%;
}
.back {
  background-image: url(./Imagens/Gemini_Generated_Image_6ibmc06ibmc06ibm.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/*footer*/

.footer {
  text-align: center;
  color: white;
  background-color: rgb(0, 53, 80);
  margin: 0;
  padding-bottom: 0;
}

.footer img {
  width: 35px;
  margin-bottom: 20px;
  padding: 0;
}

footer p {
  padding-top: 1%;
  text-align: center;
  font-size: 20px;
  color: white;
}

.direitos {
  padding-bottom: 1%;
  margin: 0;
  color: white;
}